.profilepic {
	margin: 0 auto;
	max-width: 400px;
	max-height: 400px;
	min-width: 250px;
	min-height: 250px;
}

.profile {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    min-width: 290px;
}

@media screen and (max-width: 500px) {
  .profile {
    padding-bottom: 0.8em;
  }

}

.about-me {
	min-width: 300px;
	max-width: 50%;
	display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
    text-align: left;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .about-me p {
	font-family: "Optima";
    font-size: 3vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .about-me p {
	font-family: "Optima";
    font-size: 6vw;
    line-height: 160%;
  }
}

.home-all {
	height: 100%;
	display: flex;
}

@media screen and (min-width: 601px) {
  .home-and-button {
  	padding-bottom: 2.3em;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .home-and-button {
  	padding-bottom: 0em;
  }
}

.button {
	padding-bottom: 2em;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #4F3759 !important;
    border-color: #4F3759 !important;
}

.btn-primary:hover {
  background-color: #8064A2 !important;
  border-color: #8064A2 !important;
}

/* doesnt work */
.btn {
  outline: none !important;
  outline-color: #8064A2 !important;
  box-shadow: 0px !important; 
}