

.card-deck {
	height: 100%;
	width: 100%;
}

.project-card {
	max-width: 330px;
}

.projects-overview {
	width: 100%;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0px;
	margin-bottom: 0;
}

.projects-overview h1 {
	margin-bottom: 0;
	padding-bottom: 0px;
}

.projects-all {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-row {
	margin: 2em;
	padding: 0;
}

.modal-image {
	width: 100%;
	display: flex;
	justify-content: center;
}


.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #4F3759 !important;
    border-color: #4F3759 !important;
}

.btn-primary:hover {
	background-color: #8064A2 !important;
	border-color: #8064A2 !important;
}


.project-button {
	backgroundColor: #A07DAE;
}