

.card-deck {
	height: 100%;
	width: 100%;
}

.project-card {
	max-width: 360px;
	box-shadow: 2px 8px 45px rgba(0, 0, 0, .05);
	margin: 0 auto;
	float: none;
}

.project-card:hover {
	box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  	transform: translate3D(0, -2px, 0);
}

.projects-overview {
	width: 100%;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0px;
	margin-bottom: 0;
}

.projects-overview h1 {
	margin-bottom: 0;
	padding-bottom: 0px;
}

.projects-all {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-row {
	margin: 2em;
	padding: 0;
}

.modal-image {
	width: 100%;
	display: flex;
	justify-content: center;
}


.project-button {
	/*backgroundColor: #A07DAE;*/
}

@media screen and (max-width: 600px) {
	.project-card {
		max-width: 90%;
	}




}


